.images{
    width: 1440px;
    height: 700px;
}
.header{
    margin: 0 auto 8px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid;
    border-radius: 5px;
}
.lorem{
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
}